/* Gallery.module.css */
.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Ensure the gallery is centered vertically and horizontally */
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Creates a 2-column grid */
  grid-template-rows: auto auto; /* Allows rows to adjust their height automatically */
  gap: 20px; /* Adjust the space between grid items */
  width: 80%; /* Adjust based on your design preference */
  height: 500px; /* Set the grid's height */
  margin: auto; /* Center the grid inside the gallery */
  overflow: auto; /* Add scrolling for content that exceeds the grid's height */

}

/* Apply common styles to all images */
.image {
  aspect-ratio: 1/1; /* Adjust based on your needs */
  height: 200px; /* Maintain aspect ratio */
}

/* For the first and fourth item, they span 2 columns */
.item1, .item4 {
  grid-column: span 2;
  grid-row: span 1 ;
}

/* Additional styles for individual items if needed */
.item2, .item3 {   grid-row: span 1 ; }
