.abc {
  padding: 2rem;
  background-color: rgba(39, 143, 185, 0.5);
  max-width: 40%;

  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.mImg {
  width: 420px;
  
  object-fit: contain;
  aspect-ratio: 1/1;
}

.insHold {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
gap: 0.5rem;
  padding: 6px;
}
 

.subImg {
  margin: 3px;
  width: 100px;
  height: 60px;
  border: 2px solid black;
  aspect-ratio: 1/1;
  object-fit: contain;
}

.uploader {
  display: flex;
  background-color: #16197d;
  color:white;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  transition: transform 1s ease-in;
  
  cursor: pointer;
  
}

.uploader:hover{
  animation:bumber 1s infinite;
}



@keyframes bumber {
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}