/* productRow.module.css */
.productCards {
  display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr ;
  gap: 3rem;
  padding: 20px;
  
}

.card {
   
   background-color: #FEFEFA;
  box-shadow: 5px 2px 4px rgba(0, 0, 0, 0.1);
  
  overflow: hidden;
}
 
 

.cardImage {
   
  width : 100%;
  aspect-ratio: 1/1.5;
}

.viewBtn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnViewAll {
  margin-top: 1vw;
  border-radius: 50%;
  width: 12vh;
  background-color: #969291;
  color: rgb(23, 20, 20);
  height: 2vw;
  border: none;
}

.cardInfo {
  padding: 15px;
}

.cardInfo h3 {
  margin: 0 0 10px 0;
  font-size: 1.2rem;
  color: #333;
}

.rating,
.price {
  margin: 5px 0;
  font-size: 1rem;
  color: #666;
}

.card {
  background-color: #FEFEFA;
  box-shadow: 5px 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: box-shadow 800ms 300ms ease-in-out, transform 1s 300ms ease-in-out;
 /* Added transition here */
}

.card:hover {
  box-shadow: -15px 15px 0px #278fb9;
  transform: translate(10px, -10px);
}

