.container {
  display: flex;
}

.productleftSideImg {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  min-width: 600px;
  margin: 2rem 1rem 0 2rem;
  max-height: 100vh;
}

.sideImg {
  position: relative;
  aspect-ratio: 1/2;
  max-height: 88vh;
  margin-block: 2rem;
  /* Removed overflow: hidden; to allow elements to extend outside */
}
 
 
.productInfo{

  margin: 2rem 1rem 0 2rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap:1rem;

}

.productTitle{
  font-size: 3rem;
  font-weight: bold;
}

.productPrice{
  font-size: 2rem;
   
}
.head{
  margin-bottom: 0;
}

.selectColor,.selectSize{
  display: flex;
  gap: 1rem;
  justify-content: start;
  align-items: center;
}
.color,.sizebtn{
  background-color: #355694;
  padding: 0.5rem;
  color: #f9fafb;
  cursor: pointer;

}
 


 