.container {
  display: flex;
}

.productleftSideImg {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  min-width: 600px;
  margin: 2rem 1rem 0 2rem;
  max-height: 100vh;
}

.sideImg {
  position: relative;
  aspect-ratio: 1/2;
  max-height: 88vh;
  margin-block: 1rem;
  /* Removed overflow: hidden; to allow elements to extend outside */
}
 
 
.productInfo{

  margin: 2rem 1rem 0 2rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap:1rem;

}

.productTitle{
  font-size: 3rem;
  font-weight: bold;
}

.productPrice{
  font-size: 2rem;
   
}
.head{
  margin-bottom: 0;
}

.selectColor,.selectSize{
  display: flex;
  gap: 1rem;
  justify-content: start;
  align-items: center;
}
.color,.sizebtn{
  background-color: #355694;
  padding: 0.5rem;
  color: #f9fafb;
   

}
.cartDiv{
  display: flex;
  margin-block:2.5rem;
}
.qtyBtn{
  font-size: 1.3rem; /* This sets the baseline font size for text, not the icon */
  font-weight: bolder;
  display: flex; /* Ensures contents are centered */
  justify-content: start; /* Center horizontally */
  align-items: center; 

}
.crtBtn {
  padding:0.4rem 0.5rem; /* Increased padding */
  
  background-color: #355694;
  color: #f9fafb;
  font-size: 1rem; /* This sets the baseline font size for text, not the icon */
  font-weight: bolder;
  display: flex; /* Ensures contents are centered */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  border: none; /* Assuming you don't want any border */
  cursor: pointer;
}

.addToCartBtn{
  padding:0.4rem 3rem; /* Increased padding */
  
  background-color: #ec516a;
  color: #f9fafb;
  /* font-size: 1rem; This sets the baseline font size for text, not the icon */
  font-weight: bolder;
  display: flex; /* Ensures contents are centered */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  border: none; /* Assuming you don't want any border */
  cursor: pointer;
  margin-left: 2rem;
  box-shadow: 5px 5px 20px 0px #ec516a;;
}

 

.addToCartBtn:hover{
  animation:bumber 1s infinite;
  cursor: pointer;
}

@keyframes bumber {
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}