.header {
  font-size:2em;
  margin: 5rem 0 2rem 8rem;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  margin: 0 5rem 5rem 5rem;
  padding: 0 2rem 2rem 2rem;
  height: 80vh;
  overflow-y: scroll;
  overflow-x:hidden;
}
.reviewCard{
  padding: 0.5rem;
  box-shadow: 2px 2px 4px  rgba(0,0,0,0.6);
  margin-block: 1rem;
  width:100%;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
}

.rating{
  margin-block:0.3rem;
}
.user{
  font-size: 1.4em;
  font-weight: bolder;
  margin-block:0.3rem;
}

.revText{
  margin-block:0.3rem;

}
.revDate{
  margin-block:0.3rem;

}

.reviewCard:hover{
  box-shadow: 4px 4px 8px  #278fb9;
 
  animation: grow 100ms linear both;
}


@keyframes grow {
  100%{
 
  transform:translate(-15px,-15px);
  }


}



